<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>LOPL</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div class="main">
        <h1>LOPL</h1>

        <div class="hr-line"><hr></div>

        <h2>Found a great local place!</h2>

        <ul>
            <li><a href="/formSubmit"><u>Save a new favorite place</u></a></li>
        </ul>
    
        <div class="hr-line"><hr></div>

        <h2>Find your saved local places</h2>
    
        <ul>
            <li><a href="/display"><u>View your list of favorite places</u></a></li>
        </ul>

        <div class="hr-line"><hr></div>

        <h2>About</h2>

        <p>
            Have you been looking for a way to save your favorite places?<br>
            This is it!<br>
            You can add your favorite places here and come back to see what you
            have saved so far. This will be helpful especially if you cannot recall
            which one of your favorite places you are looking for. It is easy to save
            and view your places.<br>
            Simply add your favorite places by clicking the "Add a new favorite place"
            link and see what you have saved so far by clicking the "View your list of
            favorite places" above.
        </p>
    </div>
</body>

</html>
