<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Local Places (LOPL)</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
	<h1>Local Places (LOPL)</h1>

    <h2>Found a great local place! </h2>

    <ul>
        <li>To Make A Submission<a href="/formSubmit">Submit</a></li>
    </ul>

	<hr>
    <h2>Submit confirmation</h2>

    <ul>
        <li>To confirm your submission of local places<a href="/submitConfirmation">View Submission</a></li>
        <li>To review your Lopl<a href="/summary">Review Submission</a></li>
    </ul>
</body>

</html>
