<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Application Confirmation</title>
</head>

<body>
    <h1>Submission Successful</h1>

    <p>Title: <%= favoritePlaces.title %></p>
    <p>Category: <%= favoritePlaces.category %></p>
    <p>Description: <%= favoritePlaces.description %></p>

    <a href="/">HOME</a>
</body>

</html>