<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>LOPL | Confirmation</title>
    <link rel="stylesheet" href="submitConfirmation.css">
</head>

<body>
    <div class="main">
        <h1>Submission Successful</h1>

        <div class="hr-line"><hr></div>

        <p>Title: <%= favoritePlaces.title %></p>
        <p>Category: <%= favoritePlaces.category %></p>
        Description:
        <p><%= favoritePlaces.description %></p>

        <div class="hr-line"><hr></div>
    
        <a href="/"><u>HOME</u></a>
    </div>
</body>

</html>